@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 150px;
}
body{
    background-color: black;
    padding:0px 70px ;
    font-family: "Poppins", sans-serif;
}
.link ul{
    list-style: none;
    display: flex;
    column-gap: 20px;
}
.link ul a{
    text-decoration: none;
    color: white;
}
.sec1 img {
    width: 100%;
}
.content-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.content p{
    color: white;
    font-weight: 800;
    font-size: 35px;
    padding-left: 10px;
}
#para1{
    font-size: 15px;
    font-weight: 100;
    color: white;
}
.image img{
    width: 200px;
}
.content-2{
    display: flex;
    justify-content: space-between;
}
#head1{
    color: yellow;
    font-weight:normal;
    padding-left: 10px;
}
#head2{
    color: white;
    font-size: 20px;
    font-weight: normal;
    padding-left: 10px;
}
#para2{
    color: white;
    padding-left: 10px;
}
#para3{
    padding-top: 180px;
    color: white;
    font-weight: lighter;
}
.content-3{
    padding: 1.3rem;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading-3{
    padding-left: 20px;
}
.para4{
    display: block;
    color: black;
}
.button{
    background-color: black;
    border-radius: 8px;
    width: 280px;
}
.button h2{
    color: yellow;
    text-align: center;
}
.button:hover{
    background-color: white;
    cursor: pointer;
}
.button h2:hover{
    color: black;
}
hr{
    margin-top: 30px;
}
.head4 h1{
    color: white;
    font-size: 27px;
}
.para5{
    color: white;
}
.co{
    color: yellow;
}
.content-4{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.content-5{
    display: flex;
    flex-direction: column;
    /* margin: 30px; */
}
.head5{
    color: white;
}
.eight{
    margin: 60px;
    display: flex;
    justify-content: space-between;
}
.eight p{
    color: white;
}
.ek{
    display: flex;
    width: 150px;
    flex-direction: column;
}
.head6{
    color: white;
}
.content-6{
    display: flex;
    justify-content: space-between;
    margin:  30px;
}
.head7 h1{
    color: white;
}
.head7 p{
    color: white;
}
.q{
    display: flex;
    margin: 0px 50px;
}
.q h1{
    color: yellow;
    font-size: 16px;
    margin-right: 60px;
}
.q p{
    text-decoration: line-through;
    color: white;
}
.content-7 img{
    background-color: yellow;
    height: 350px;
    margin-top: 400px;
}
.content-7{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}
@media (max-width:1399px) {
    .content p br {
        display: none;
    }
    .content-1 {
        flex-direction: column;
    }
    .content-2 #para2{
        font-size: 15px;
    }
    .content-1 .image{
         display: flex;
         justify-content: space-between;
         column-gap: 8px;
    }
}
@media (max-width:991px) {
    .eight .ek p{
        font-size: 10px;
    }
    .eight .ek img{
       width: 80px;
    }
    .content-4 .image3 img{
        width: 400px;
        
    }
    .content-4 .head4 p{
        font-size: 20px;
    }
    .content-1 .image img{
        width: 150px;
    }
    .head #para2{
        font-size: 12px;
    }
    .content-2 .head2 #para3{
        font-size: 13px;
    }
    .content-3 .heading-3{
        font-size: 15px;
    }
    .content-3 .heading-4 .para4{
        font-size: 10px;
}
.content-3 .button{
    width: 200px;
}
.content-3 .button h2{
    font-size: 15px;
}
}
@media (max-width:835px) {
   .head4 .para5{
    font-size: 80px;
   }
   .head4 .para5 br{
    display: none;
   }
   .head4{
    flex-direction: column;
   }
   .content-4{
    flex-direction: column;
   }
   .head7 p{
    font-size: 15px;
   }
   .head7 .main .q p{
        font-size: 13px;
   }
   .head7 img{
     margin-top: 100px;
   }
   header{
    flex-direction: column;
   }
   .sec1{
     /* height: 100%; */
     width: 100%;
   }
   .content-1 .image{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   .content-1 .image img{
    width: 150px;
   }
   .content-7 img{
     height: 250px;
     margin-top: 40px;
   }
   .content-7 .main .q p{
    font-size: 20px;
   }
   .content-7 .main .q p br{
    display: none;
   }
   .content-7 .main .q  h1{
    font-size: 13px;
   }
   .content-7 .main .q{
    display: flex;
    flex-direction: column;
   }
   .content-7 .head7 h1{
    font-size: 20px;
   }
   .content-4 .image3 img{
      margin-left: 120px;
   }
}
@media (max-width:574px) {
    .logo img{
        margin-left: 130px;
    }
    .link ul li a{
        font-size: 9px;
    }
    .sec1{
       width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .content-1 .content p{
        font-size: 15px;
    }
   .content-1 .image img{
         width: 100px;
   }
   .content-2 .head #head1{
    font-size: 20px;
   }
   .content-2 .head #head2{
    font-size: 13px;
   }
   .content-2 #para2{
    font-size: 13px;
   }
   .content-2 .head2 #para3{
    font-size: 10px;
   }
   .content-3 .heading-3{
    font-size: 10px;
   }
   .content-3 .heading-4 .para4 {
        font-size: 7px;
    }
    .content-3 .button {
        width: 110px;
    }
    .content-3 .button h2 {
        font-size: 12px;
    }
    .content-4 .para5{
        font-size: 10px;
    }
    .content-4 .image3 img {
        margin-left: 50px;
        width: 300px;
    }
    .content-5 .head5 h1{
        font-size: 15px;
    }
    .content-5 .head5 p{
        font-size: 15px;
    }
    .ek {
        display: flex;
        width: 100px;
        flex-direction: column;
        column-gap: 20px;
    }
    .eight .ek p {
        font-size: 8px;
    }
}
  @media (min-width:400px){
     .link ul li a {
        font-size: 15px;
       
        /* flex-direction: row; 
    }
    .sec1{
        width: 100%;
        padding: 100px;
        /* padding-left: 100%; */
        background-size: contain;
        background-repeat: no-repeat;
    }
    .link ul {
        display: flex;
        column-gap: 10px;
        padding-left: 130px;
    }
    header .logo img{
        width: 150px;
        align-items: center;
    }
    .logo img {
        margin-left: 180px;
    }
    .content-1 .content p {
        font-size: 10px;
    }
    #para1 {
        font-size: 10px;
    }
    .content-1 .image img {
        width: 20%;
    }
    .content-2 .head #head1 {
        font-size: 15px;
    }
    .content-2 .head #head2 {
        font-size: 8px;
    }
    .content-2 #para2 {
        font-size:8px;
    }
    .content-2 .head2 #para3 {
        font-size: 7px;
    }
    #para3 {
        padding-top: 70px;
        font-weight: 200;
    }
    .content-3 .button {
        width: 90px;
    }
    .content-3 .button h2 {
        font-size: 5px;
    }
    .content-3 .heading-4 .para4 br{
        display: none;
    }
    .content-3 .heading-3 {
        font-size: 7px;
    }
    body {
        background-color: black;
    }
    .content-3 .heading-4 .para4 {
        font-size: 7px;
    }
    .head4 h1 {
        font-size:15px;
    }
    .content-4 .head4 p {
        font-size: 10px;
    }
    .content-4 .image3 img {
        margin-left: 10px;
        width: 200px;
    }
    .content-5 .head5 h1 {
        font-size: 10px;
    }
    .content-5 .head5 p {
        font-size: 10px;
    }
    .eight {
    margin: 1px;
    }
    .content-7 .main .q {
        display: flex;
        flex-direction: column;
        cursor:cell
    }
    .content-7 .main .q p {
        font-size: 8px;
    }
    .eight {
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid white;
    }
    .eight .ek {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
    .eight .ek img{
        width: 80%;
    }
    .eight .ek p{
        text-align: center;
        font-size: ;
    }
    .head6 h1{
        font-size: 15px;
        text-decoration: underline;
    }
    .content-6 {
        display: flex;
        /* justify-content: space-between; */
        margin: 30px;
        flex-direction: column;
    }
    .head6 p{
        font-size: 12px;
        text-align: center;
        word-spacing: 3px;
    }
    .head6 .image img{
        width: 80%;
    }
    .content-7 {
        display: flex;
        /* column-gap: 20px; */
        flex-direction: column;
        justify-content: space-between;
    }
    .content-7 .head7 h1 {
        font-size: 15px;
    }
    .content-7 .main .q {
        display: flex;
        cursor: cell;
        column-gap: 40px;
    }
    .q {
        /* display: flex; */
        margin: 0px 1px;
    }
    .content-7 .main .q h1 {
        font-size: 10px;
    }
    .content-7 img {
        width: 80%;
    }
} 


