@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 150px;
}
body{
    background-color: black;
    padding:0px 70px ;
    font-family: "Poppins", sans-serif;
}
.link ul{
    list-style: none;
    display: flex;
    column-gap: 20px;
}
.link ul a{
    text-decoration: none;
    color: white;
}
.sec1 img {
    width: 100%;
}
.content-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.content p{
    color: white;
    font-weight: 800;
    font-size: 35px;
    padding-left: 10px;
}
#para1{
    font-size: 15px;
    font-weight: 100;
    color: white;
}
.image img{
    width: 200px;
}
.content-2{
    display: flex;
    justify-content: space-between;
}
#head1{
    color: yellow;
    font-weight:normal;
    padding-left: 10px;
}
#head2{
    color: white;
    font-size: 20px;
    font-weight: normal;
    padding-left: 10px;
}
#para2{
    color: white;
    padding-left: 10px;
}
#para3{
    padding-top: 180px;
    color: white;
    font-weight: lighter;
}
.content-3{
    padding: 1.3rem;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading-3{
    padding-left: 20px;
}
.para4{
    display: block;
    color: black;
}
.button{
    background-color: black;
    border-radius: 8px;
    width: 280px;
}
.button h2{
    color: yellow;
    text-align: center;
}
.button:hover{
    background-color: white;
    cursor: pointer;
}
.button h2:hover{
    color: black;
}
hr{
    margin-top: 30px;
}
.head4 h1{
    color: white;
    font-size: 27px;
}
.para5{
    color: white;
}
.co{
    color: yellow;
}
.content-4{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.content-5{
    display: flex;
    flex-direction: column;
    /* margin: 30px; */
}
.head5{
    color: white;
}
.eight{
    margin: 60px;
    display: flex;
    justify-content: space-between;
}
.eight p{
    color: white;
}
.ek{
    display: flex;
    width: 150px;
    flex-direction: column;
}
.head6{
    color: white;
}
.content-6{
    display: flex;
    justify-content: space-between;
    margin:  30px;
}
.head7 h1{
    color: white;
}
.head7 p{
    color: white;
}
.q{
    display: flex;
    margin: 0px 50px;
}
.q h1{
    color: yellow;
    font-size: 16px;
    margin-right: 60px;
}
.q p{
    text-decoration: line-through;
    color: white;
}
.content-7 img{
    background-color: yellow;
    height: 350px;
    margin-top: 400px;
}
.content-7{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}
@media (max-width: 1660px) {

}

@media (max-width: 1299px) {
    .content-1 .image img {
        width: 150px;
    }
    .content-4 .image3 img{
        width: 80%;
    }
    .para5 {
        font-size: 15px;
    }
    body {
        background-color:lightseagreen;
    }
    #para1 {
        font-weight: 600;
        color: white;
        font-size: 13px;
    }
    .content p {
        color: black;
        font-weight: 600;
    }
    .head4 h1 {
        color: black;
    }
    .head5 h1{
        color: black;
    }
    .head6 h1{
        color: black;
    }
    .head7 h1 {
        color: black;
    }
}

@media (max-width: 1199px) {
    #para2 {
        font-size: 14px;
    }
    #para3 {
        font-size: 15px;
    }
    .para5 {
        font-size: 14px;
    }
    .content-3 {
        padding: 20px 50px;
    }
    .content-7 .head7 .q h1{
        color: yellow;
    }
    .ek {
        width: 120px;
    }
    .eight p {
        font-size: 13px;
    }
    .button {
        width: 220px;
    }
    .button h2 {
        font-size: 20px;
    }
    .q p {
        font-size: 13.5px;
    }
    .content-7 img {
        margin-top: 200px;
    }
}


@media (max-width: 1139px) {
    .content-1 {
        display: flex;
        flex-direction: column;
    }
    .content-1 .image{
        display: flex;
        column-gap: 80px;
    }
    .content-1 .content p br{
        display: none;
    }
    #para1 {
        font-size: 15px;
    }
    body{
        background-color: olivedrab;
    }
    .content-1 .image br{
         display: none;
    }
    .ek {
        width: 100px;
    }
    .eight p {
        font-size: 12px;
    }
    .eight br{
        display: none;
    }
    .content-3 {
        padding: 20px 70px;
    }
    .button {
        width: 180px;
    }
    .heading-3 {
        font-size: 30px;
    }
    .button h2 {
        font-size: 17px;
    }
    .para4 {
        font-size: 15px;
    }
}

@media (max-width: 999px) {
    #para2 {
        font-size: 12px;
    }
    #para3 {
        font-size: 13px;
        padding-top: 160px;
    }
    .heading-3 {
        font-size: 25px;
    }
    .para4 {
        font-size: 13px;
    }
    .para5 {
        font-size: 12px;
    }
    .head6 p{
        font-size: 14px;
    }
    .image img {
        width: 100%;
    }
    .q p {
        font-size: 12px;
    }
}
 Screen Size All mobile check
@media (max-width: 575px) {
    
}


